# Django framework
Django==4.2.7

# Face recognition & detection
deepface==0.0.93
retina-face==0.0.13

# Machine Learning
tensorflow==2.17.1
tf-keras==2.17.0

# Image processing
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==10.2.0

# Utilities
requests==2.31.0
